<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Job helper</title>
  </head>
  <body>
    <h1>Job application helper</h1>
    <div class="container">
      <form id="job-form" action="/submit" method="post">
        <textarea
          name="cv-content"
          placeholder="Please enter the content of your resume here"
        ></textarea>
        <textarea
          name="job-offer"
          placeholder="Please enter the job offer here"
        ></textarea>
        <button type="submit">Generate cover letter</button>
      </form>
      <form class="result" id="save-form" action="/save" method="post">
        <textarea
          name="cover-letter"
          id="coverLetter"
          placeholder="Cover letter"
        >
{{ cover_letter | safe }}</textarea
        >
        <button type="submit">Save cover letter</button>
      </form>
    </div>
  </body>
</html>
